**** estilos.css ****


@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	background-image:url(../imgs/fundo2.jpg);
}

#container{
	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


#fundoGame {
	width:950px;
	height:630px;
	background-image:url(../imgs/fundo_game.jpg); /*Imagem do Jogo*/
	border-color:#FFF; /* borda branca*/
	border-style:solid; /* borda Sólida */
}

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left:8px;
	top:179px;
background-image:url(../imgs/apache.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/inimigo1.png);
	
}

#inimigo2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/inimigo2.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../imgs/amigo.png);
}

#inicio {
	width:360px;
	height:358px;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}

.anima1 {
	background-image:url(../imgs/helicoptero.png);
	animation:play .5s steps(2) infinite;

       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}


@-webkit-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-moz-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-ms-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-o-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

.anima2 {
    background-image:url(../imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite; 
}


.anima3 {
	background-image:url(../imgs/amigo.png);
	animation:play2 .9s steps(12) infinite;
	-webkit-animation: play2 .9s steps(12) infinite;
       -moz-animation: play2 .9s steps(12) infinite;
        -ms-animation: play2 .9s steps(12) infinite;
         -o-animation: play2 .9s steps(12) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}

@-webkit-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-moz-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-ms-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-o-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparo.png);
}

#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}

.anima4 {
	width:44px;
	height:51px;
	background-image:url(../imgs/amigo_morte.png);
	animation:play3 .5s steps(7) infinite;
	-webkit-animation: play3 .5s steps(7) infinite;
       -moz-animation: play3 .5s steps(7) infinite;
        -ms-animation: play3 .5s steps(7) infinite;
         -o-animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

.anima5 {
	background-image:url(../imgs/apache2.png);
	animation:play .5s steps(2) infinite;

       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:+512px;}
}


@-webkit-keyframes play {
   from { background-position:0px; }
     to { background-position: +512px; }
}

@-moz-keyframes play {
   from { background-position:0px; }
     to { background-position: +512px; }
}

@-ms-keyframes play {
   from { background-position:0px; }
     to { background-position: +512px; }
}

@-o-keyframes play {
   from { background-position:0px; }
     to { background-position: +512px; }
}


#placar {
	width: 450px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 577px;
	color: #FFF;
	font-size:12px;
}

h2 {
	font-family:Titulo;
	font-size:12px;
	color:#FFF
}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

h3 {
	font-family:Titulo;
	font-size:20px;
	color:#603A03;

}

#fim {
	width:350px;
	height:200px;
	background-color:#FFF;
 	margin-left:auto;
    	margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styledv {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 220, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledv:hover {
    background-color: rgba(255, 255, 90, 1);
}

.styledv:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}